@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  cursor: nw-resize;
  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

.fingerprint:active {
  cursor: url('../public/assets/images/fingerprint.png'), auto;
}

.nesw-resize     { cursor: pointer; }

.flying{
  cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
}